<div class="card border-dark h-100">
  <div class="card-header">
    <h3 class="card-title m-auto">{{ob['name']}}</h3>
  </div>
  <div class="card-body">
    <p class="card-title"><strong>Rate :</strong> {{ob['rate']}} {{ob['code']}}</p>
    <p class="card-text"><strong>Inverse Rate :</strong> {{ob['inverseRate']}} {{ code}}</p>
  </div>
  <div class="card-footer">
    <a class="btn btn-primary" [routerLink]="['/rates']" [queryParams]="{name:ob['name'],code:ob['code']}">View Exchange Rates</a>
  </div>
</div>