<div class="container">
  <div class="alert alert-primary" *ngIf="list.length==0&&length==0" @FadeInOut>
    Loading data please wait.
  </div>
  <div class="alert alert-danger" *ngIf="list.length==0&&length!=0" @FadeInOut>
    No matching results found. Click <a href="#" class="alert-link" (click)="resetData()">here</a> to reset.
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 p-2" *ngFor="let da of list; trackBy:trackData"><app-currency-details [ob]="da" [code]="code"></app-currency-details></div>
  </div>
</div>