<app-navigation (sendSortOrder)="sortOrderReceived($event)"></app-navigation>
<div class=" p-4 bg-light text-center mb-3">
  <p class="display-4">{{currentData['name']}}</p>
</div>
<div class="container">
  <ng-container *ngIf="currencies; else noRes">
    <div class="input-group">
      <span class="input-group-text">Search</span>
      <input type="text" placeholder="Search" [(ngModel)]="searchQuery" class="form-control">
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 p-2" *ngFor="let data of currencies | filter:searchQuery:sortNo; trackBy:trackData">
        <app-currency-details [ob]="data"></app-currency-details>
      </div>
    </div>
  </ng-container>
</div>
<ng-template #noRes>
  <div class="text-center py-3 my-4" *ngIf="!error">
    <div class="spinner-grow" style="height: 6em;width: 6em;">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div class="alert alert-danger" *ngIf="error">{{error}}</div>
</ng-template>