<app-navigation (sendSortOrder)="sortOrderReceived($event)"></app-navigation>
<div class="jumbotron text-center mb-3">
  <p class="display-4">{{currentData['name']}}</p>
</div>
<div class="container">
  <input type="text" placeholder="Search" class="form-control mb-2" (keyup)="search(searchBar)" #searchBar>
  <div class="alert alert-danger" *ngIf="error" @FadeInOut>
    No Internet Connection.
  </div>
  <div class="text-center py-3 my-4" *ngIf="mainhold.length==0&&!error" @FadeInOut>
    <div class="spinner-border" style="height: 8em;width: 8em;">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="alert alert-danger" *ngIf="mainhold.length>0&&getData().length==0" @FadeInOut>
    No matching results found. Click <a href="#" class="alert-link" (click)="resetData()">here</a> to reset.
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 p-2" *ngFor="let da of getData(); trackBy:trackData">
      <app-currency-details [ob]="da" [code]="currentData['code']"></app-currency-details>
    </div>
  </div>
</div>