<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a href="#" class="navbar-brand">Currency Exchange</a>
    <button class="navbar-toggler" *ngIf="invalidPage()" type="button" data-toggle="collapse" data-target="#navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navigation" *ngIf="invalidPage()">
      <ul class="navbar-nav">
        <li class="nav-item"><a routerLink="/rates" routerLinkActive="active" class="nav-link">Home</a></li>
        <li class="nav-item dropdown" *ngIf="isRatesActive()">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown">Sort By</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" [ngClass]="{active: sortOrder==1}" (click)="changeSortOrder(1)">Name</a>
            <a class="dropdown-item" [ngClass]="{active: sortOrder==2}" (click)="changeSortOrder(2)">Rate</a>
            <a class="dropdown-item" [ngClass]="{active: sortOrder==3}" (click)="changeSortOrder(3)">InverseRate</a>
          </div>
        </li>
        <li class="nav-item"><a routerLink="/about" routerLinkActive="active" class="nav-link">About</a></li>
      </ul>
    </div>
  </div>
</nav>